@charset "utf-8";

/* 공통  css */
*{padding:0px; margin:0px;}
html{overflow-x:hidden; overflow-y:auto; z-index:0;}
body{margin:0; padding:0; text-align:center;  font-size:12px; color:#555555; line-height:150%; font-family: 나눔고딕, 돋움,Dotum, AppleGothic, sans-serif; background-color:transparent; height:100%; -webkit-text-size-adjust:none;}
ul{float:left; list-style-type:none;}
li{float:left;  list-style-type:none;}
img{border:0; line-height:0px; font-size:0px;}
fieldset{border:none 0;}
hr, h2, #skip{display:none;}
table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; line-height:150%;}


/* Layout */
#pop_wrapper {position:relative; min-width:1024px; width:100%; margin-right:auto; margin-left:auto; background-color:transparent; text-align:left;}
#popheader_wrap {position:relative; width:100%; text-align:left;}
#popheader {position:relative; width:100%; height:64px; background:url('../image/common/sub/cate-popuptop_bg01.png') repeat-x; }
#popheader img {margin:12px 0px 0px 25px;}
#popcont_wrap {float:left; position:relative; width:100%; min-height:960px; text-align:left; background-color:#f8f4f5;}
#right_wrap {float:right; position:relative; top:0px; min-height:960px; height:100%; background:url('../image/common/sub/cate-popupInfo_bg01.png') repeat-y; z-index:2;}
.popwork_area {min-width:760px; margin:0px 40px 0px 20px; margin-top:10px;}
.popcon_area {background-color:transparent; overflow:hidden;}

.right_area {}
.right_area ul { height:100%;}
.right_area li:first-child {width: 40px; float:left;}
.right_area li {width: 310px; float:left;}
.right_area li img {margin-top:15px;}
.right_area li .tit {width: 275px; height: 40px; background:url('../image/common/sub/icon03.png') no-repeat 0px 16px; border-bottom:1px solid #b5b5b5; margin-left:12px; padding-left:12px; text-align: left; font-size: 14px; font-weight:bold; line-height:300%;}
.right_area li .tit a {float:right; margin-right:6px; margin-top:2px;}
.right_area li .info {width: 285px; margin-left:12px; margin-top:10px; text-align: left;}
.right_area li .info strong {color: #2d7194; background:url('../image/common/sub/icon04.png') no-repeat 0px 4px; padding-left:10px;}
.right_area li .info p {padding-left:10px; padding-right:5px; margin-bottom:5px;}
.right_area li .info .btn {float:none; text-align:center;}
.right_area li .info .txt {border:1px solid #e4e4e4; background-color:#f8f8f8; padding:10px;}

.con_table {float:left; width:100%; padding-bottom:20px;}
.con_table .title01 {background:url('../image/common/sub/cate-icon_tit01.png') no-repeat 0px 20px; height:61px; border-bottom:1px solid #c7c7c7; padding-left:35px; overflow: hidden;}
.con_table .title01 strong { line-height:380%; font-size: 18px; font-weight:bold; color:#333333;}
.con_table .title01 div {float:right; margin-top:25px; overflow: hidden;}

.con_table .tab01 {background:url('../image/common/sub/cate-popuptitle_bg01.png') repeat; border-left:1px solid #b9b9b9; height:35px; float:none; margin-top:20px; margin-bottom:20px; overflow: hidden;}
.con_table .tab01 li {border-right:1px solid #b9b9b9; border-top:1px solid #b9b9b9; height:33px; color: #999999; font-size: 14px; background-color:#fcfcfc; font-weight:bold; line-height:220%; width:132px; text-align:center;}
.con_table .tab01 li a {color: #9898a3;}
.con_table .tab01 li.on {border-right:1px solid #b9b9b9; border-top:1px solid #b9b9b9; border-bottom:1px solid #f8f4f5; height:33px; color: #666666; font-size: 14px; background-color:#f8f4f5; font-weight:bold; line-height:220%; width:132px; text-align:center;}
.con_table .tab01 li.on a{color: #444444;}

.con_table .board01 {border-collapse: collapse; border-spacing: 0; width: 100%; table-layout:fixed; margin-bottom:25px;}
.con_table .board01 td {border:1px solid #dadada; background-color:#ffffff; padding:12px;}
.con_table .board01 td img {vertical-align:middle; margin-top:-2px;}
.con_table .board01 th {border:1px solid #dadada; background-color:#f9f9f9; font-weight:bold; padding:14px; text-align:left;}
.con_table .stat-view01 {background-color:#ffffff; margin-bottom:25px;  border:1px solid #dadada; padding:3px;}
.con_table .stat-view02 {background-color:#ffffff; margin-bottom:25px; border:1px solid #dadada; padding:12px;}
.con_table .stat-view02 strong {color: #1b4e84;}
.con_table .unit {text-align: right;}
.con_table .title02 {background:url('../image/common/sub/icon02.png') no-repeat 0px 6px; padding-left:8px; color: #1b4e84; margin-bottom:15px; font-size: 12px; font-weight:bold;}

/* 국토교통인클린생활10선 */
.clean_bg {background:url('../policy/img/clean_bg01.png') no-repeat; width:500px; height:625px; text-align: left;}
.clean_bg .txt {padding-left:55px; padding-top:285px; color:#ffffff; line-height:250%; font-weight:bold;}
.clean_bg .close {position:absolute; left:430px; top:598px;}

/* 도움말 */
.help_wrapper {background:url('../info/img/popup_help_bg01.png') no-repeat; width:900px; height:728px; text-align: left;}
.help_wrapper .help_title {float:none; width:870px; margin-left:15px; padding-top:22px;}
.help_wrapper .help_title .tit {float:left;}
.help_wrapper .help_title .close {float:right;}
.help_wrapper .help_area {float:none; width:840px; margin-left:26px; padding-top:50px;}
.help_wrapper .help_area .left_menu {float:left; width:233px; padding-top:20px;}
.help_wrapper .help_area .left_menu .menu {float:none;}
.help_wrapper .help_area .left_menu .menu li {float:none; background:url('../image/common/sub/icon05.png') no-repeat 6px 15px; height:36px; border-bottom:1px solid #c5c5c5; color:#333333; line-height:270%; font-weight:bold; padding-left:14px;}
.help_wrapper .help_area .left_menu .menu li.on a {color: #20499a;}
.help_wrapper .help_area .left_menu .menu li a:hover {color: #20499a;}
.help_wrapper .help_area .left_menu .menu li a:active { background-color:#f7f5f5;}
.help_wrapper .help_area .help_contents {float:right; width:580px; margin-top:20px;}
.help_wrapper .help_area .help_contents .tit {background:url('../image/common/sub/icon06.png') no-repeat 0px 6px; margin-bottom:10px; height:27px; font-size: 18px; color:#333333; font-weight:bold; padding-left:12px;}
.help_wrapper .help_area .help_contents .list {line-height:130%; height:545px; padding-left:13px; padding-bottom:13px; margin:0px; overflow-y:auto;}

/* 통계기반정책관리제도 상세보기 */
.policy_wrapper {float:left;}
.policy_wrapper .top_area {float:none; background-color:#1b6cb9; height:50px;}
.policy_wrapper .top_area .tit {float:left; margin-top:15px; margin-left:15px;}
.policy_wrapper .top_area .btn {float:right; margin-top:17px; margin-right:15px;}
.policy_wrapper .policy_wrap {float:none; overflow: hidden; min-width:720px;}
.policy_wrapper .policy_wrap .left {float:left; background-color:#ebebeb; border-right:1px solid #c5c5c5; width:10px; height:550px;}
.policy_wrapper .policy_wrap .center {float:left; margin-top:12px; margin-left:10px; margin-right:10px;}
.policy_wrapper .policy_wrap .right {float:left; background-color:#ebebeb; border-left:1px solid #c5c5c5; width:10px; height:550px;}

.policy_wrapper .tab-tit02 {height:30px; float:none; margin-bottom:15px; margin-left:5px;}
.policy_wrapper .tab-tit02 li {list-style:none;display:block; background:url('../image/common/sub/btn-bg01_off.png') left 0; float:left; color:#ffffff; letter-spacing:-1; padding-left:14px; text-decoration:none; height:30px; cursor:pointer; margin-right:5px; overflow:hidden;}
.policy_wrapper .tab-tit02 li a {display:block; float:left; background:url('../image/common/sub/btn-bg01_off.png') right 0; line-height:220%; color:#ffffff; font-weight:bold; padding-right:14px; height:30px; overflow:hidden;cursor:pointer;}
.policy_wrapper .tab-tit02 li.on {list-style:none;display:block; background:url('../image/common/sub/btn-bg01_on.png') left 0; float:left; color:#ffffff; letter-spacing:-1; padding-left:14px; text-decoration:none; height:30px; cursor:pointer; margin-right:5px; overflow:hidden;}
.policy_wrapper .tab-tit02 li.on a {display:block; float:left; background:url('../image/common/sub/btn-bg01_on.png') right 0; line-height:220%; color:#ffffff; font-weight:bold; padding-right:14px; height:30px; overflow:hidden;cursor:pointer;}

.policy_wrapper .policy_contents {float:left; width:666px; text-align:left; margin-left:5px; margin-right:5px;}
.policy_wrapper .policy_contents .tit {background:url('../image/common/sub/icon06.png') no-repeat 0px 6px; margin-top:5px; margin-bottom:5px; height:27px; font-size: 18px; color:#333333; font-weight:bold; padding-left:12px; text-align:left;}
.policy_wrapper .policy_contents .list {line-height:130%; height:425px; padding-left:13px; padding-bottom:13px; margin:0px; overflow-y:auto; text-align:left;}

.policy_wrapper .policy_contents_n {float:left; width:666px; text-align:left; margin-left:5px; margin-right:5px;}
.policy_wrapper .policy_contents_n .tit {background:url('../image/common/sub/icon06.png') no-repeat 0px 6px; margin-top:5px; margin-bottom:5px; height:27px; font-size: 18px; color:#333333; font-weight:bold; padding-left:12px; text-align:left;}
.policy_wrapper .policy_contents_n .list {line-height:130%; height:465px; padding-left:13px; padding-bottom:13px; margin:0px; overflow-y:auto; text-align:left;}

.document01 {margin-bottom:30px; line-height:170%;}
.document01 strong {color:#084e93; background:url('../image/common/sub/icon02.png') no-repeat 0px 4px; padding-left:8px;}
.document01 p {margin-bottom:15px; margin-top:6px;}
.document01 b {color:#00770e;}

.document-tit {border-radius: 15px; height:26px; border: 2px solid #0170af; margin-bottom: 12px; background:url('../stat/img/detail_tit01.png') repeat-x; overflow:hidden; text-align:center; font-size: 14px; color:#333333; font-weight:bold; line-height:170%; margin-right:15px;}
.document-box {padding: 15px; border-radius: 6px; border: 1px solid #b9c1c4; margin-bottom: 20px; background-color: #ecf4fc; overflow:hidden; line-height:170%; margin-right:15px;}
.document-box strong {color:#084e93; background:url('../image/common/sub/icon02.png') no-repeat 0px 4px; padding-left:8px; }
.document-box p {margin-bottom:5px;}
.document-box b {color:#00770e;}
.document-box .orange {color:#ea0b25;}

.document-box_n1 {padding:15px 15px 15px 165px; border-radius: 6px; border: 1px solid #b9c1c4; margin-bottom: 20px; background:url('../stat/img/detail04_bg01.png') repeat-x; overflow:hidden; line-height:170%; margin-right:15px;}
.document-box_n1 strong {color:#084e93; background:url('../image/common/sub/icon02.png') no-repeat 0px 4px; padding-left:8px; }
.document-box_n1 p {margin-bottom:5px;}
.document-box_n1 b {color:#00770e;}
.document-box_n1 .orange {color:#ea0b25;}

.document-box_n2 {padding:15px 15px 15px 165px; border-radius: 6px; border: 1px solid #b9c1c4; margin-bottom: 20px; background:url('../stat/img/detail04_bg02.png') repeat-x; overflow:hidden; line-height:170%; margin-right:15px;}
.document-box_n2 strong {color:#084e93; background:url('../image/common/sub/icon02.png') no-repeat 0px 4px; padding-left:8px; }
.document-box_n2 p {margin-bottom:5px;}
.document-box_n2 b {color:#00770e;}
.document-box_n2 .orange {color:#ea0b25;}

.document-box_n3 {float:none; padding: 7px; border-radius: 6px; border: 1px solid #b9c1c4; margin-bottom: 12px; background-color: #f4fbff; line-height:170%; margin-right:15px;}
.document-box_n3 strong {color:#084e93; background:url('../image/common/sub/icon02.png') no-repeat 0px 4px; padding-left:8px; }
.document-box_n3 p {margin-bottom:5px;}
.document-box_n3 li {float:none; overflow:hidden;}
.document-box_n3 li:first-child {float:left; width:110px;}
.document-box_n3 .orange {color:#ea0b25;}
.policy_contents .arrow {float:none; text-align:center; margin-bottom:12px;}
.document-box_n3 a:active, a:hover {color: #555555; text-decoration: underline;}

.policy_contents_n .history_list {float:none; overflow: hidden; border-top:1px solid #aeaeae; margin-right:15px;}
.policy_contents_n .history_list li {float:none; border-bottom:1px solid #e7e7e7; overflow: hidden; padding-top:15px; padding-bottom:15px;}
.policy_contents_n .history_list li strong {float:left; font-size: 25px; width:80px; text-align:right;}
.policy_contents_n .history_list li p {float:left; width:80px; text-align:right;}
.policy_contents_n .history_list li span {float:left; padding-left:20px; line-height:17px;}



/* 좌측메뉴 */
.left_wrap {display:block; float:left; min-height:960px; margin:0px 20px 0px 0px; border-right:1px solid #aaaaaa;}
.left_wrap .left_menu {width:200px; padding-top:15px; min-height:960px; margin:0px 8px 40px 10px;border-left:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}
.left_wrap .left_menu .left_search {border-bottom:3px solid #20499a; height:50px;}
.left_wrap .left_menu .left_search input{margin-left:1px; background-color:#ffffff; border:1px solid #cccccc; color:#666666; font-size:12px; font-family:"돋움,돋움체"; height:20px; padding-top:2px; width:167px;}
.left_wrap .left_menu .left_search img { margin-bottom:-8px;}

.left_wrap .left_menu ul {margin-bottom:0px; background-color:#ffffff;}

.left_wrap .left_menu ul li {width:200px;}

.left_wrap .left_menu ul li a {background-position:98% 50%; padding:0px 0px 0px 5px; color:#333333; padding-top:5px; padding-bottom:5px; font-size:12px; font-weight:bold; border-bottom:1px solid #eaeaea; display:block; background-image:url("../image/eng/layout-sub-icon_grey.png"); background-repeat:no-repeat; background-size:auto;}

.left_wrap .left_menu ul li .left_on {background-position:98% 50%; color:#666666; background-color:#0065b6; background-image:url("../image/eng/layout-sub-icon_grey.png"); background-repeat:no-repeat; background-size:auto;}
.left_wrap .left_menu ul li .left_on_eng {background-position:98% 50%; color:#ffffff; background-color:#0065b6; background-image:url("../image/eng/layout-sub-icon_white.png");background-repeat:no-repeat; background-size:auto;}
.left_wrap .left_menu ul li .left_selected_eng {background-position:98% 50%; color:#ffffff; background-color:#0065b6; background-image:url("../image/eng/layout-sub-icon_white.png");background-repeat:no-repeat; background-size:auto;}
.left_wrap .left_menu ul li .empty {color:#333333; background-image:url(""); font-size:12px; font-weight:normal;}

.left_wrap .left_menu ul li div ul {background-color:#ffffff; padding:0px 0px 0px 0px; width:184px;}
.left_wrap .left_menu ul li div ul li {width:200px;}
.left_wrap .left_menu ul li div ul .left_menu_depth2 a {background:#ffffff; padding:8px 5px 8px 20px; line-height:16px; font-size:11px; color:#666666; font-weight:normal; background-image:url("../image/common/sub/btn_open_orange.png"); background-position:5px 9px; background-repeat:no-repeat;}
.left_wrap .left_menu ul li div ul .left_menu_depth2 .left_on_eng {background:#ffffff; padding:8px 5px 8px 20px; line-height:16px; font-size:11px; color:#FF5E00; font-weight:normal; background-image:url("../image/common/sub/btn_down_orange.png"); background-position:3px 11px; background-repeat:no-repeat;}
.left_wrap .left_menu ul li div ul .left_menu_depth2 .left_selected_eng {background:#ffffff; padding:8px 5px 8px 20px; line-height:16px; font-size:11px; color:#FF5E00; font-weight:normal; background-image:url("../image/common/sub/btn_down_orange.png"); background-position:3px 11px; background-repeat:no-repeat;}
.left_wrap .left_menu ul li div ul .left_menu_depth3 a {background:#D6D6D6; padding:8px 5px 8px 20px; line-height:16px; font-size:11px; color:#666666; font-weight:normal;}
.left_wrap .left_menu ul li div ul .left_menu_depth3 .left_on_eng {background:#D6D6D6; padding:8px 5px 8px 20px; line-height:16px; font-size:11px; color:#FF5E00; font-weight:normal;}
.left_wrap .left_menu ul li div ul .left_menu_depth3 .left_selected_eng {background:#D6D6D6; padding:8px 5px 8px 20px; line-height:16px; font-size:11px; color:#FF5E00; font-weight:normal;}
.left_wrap .left_menu ul li div ul li a {background:#ede8ea; padding:8px 5px 8px 8px; line-height:16px; font-size:11px; color:#333333; font-weight:normal;}

.left_wrap .left_menu ul li div ul li .on_select {background:#9193a2; padding:8px 5px 8px 8px; line-height:17px; font-size:11px; color:#ffffff; font-weight:normal;}

.left_move {position:absolute; top:200px; left:210px; margin-left:3px;}
.right_move {position:absolute; top:200px; left:0px; margin-left:3px;}
.right_button {position:absolute; top:75px; left:950px;}

/* 링크지정 */
a:link, a:visited {color: #555555; text-decoration: none;}
a:active, a:hover {color: #555555; text-decoration: none;}