body.layout-page {
	background-color:#f9f9f9;
}

#wrap{
	position: relative;
	height: 100%;
	min-width:1000px !important;
}
#header{
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	z-index: 300;
	overflow: hidden;
	
	&, .container{
		height: 100px;
	}
	.container{
		position: relative;
	}
}
.body{
	height: 100%;
}
.layout-page #container, .layout-index #container {
	position: relative;
	z-index: 100;
	overflow: hidden;
	padding: 128px 0 197px;
	margin-bottom: -197px;
	min-height: 100%;
	
	.container{
		position: relative;
	}
}

.container {
	width:1000px;
	margin:0 auto;
}

.skip {
	font-size:0;
	text-indent:-9999px;
	width:0;
	height:0;
}

#wrap{
	position: relative;
	height: 100%;
	.app-min-width();
}
.body{
	height: 100%;
}


#header {
	width:100%;
	background:#fff url('../images/common/bg_header.png') repeat-x center 0;
	height:128px;
	
	.container {
		position:relative;
		background:url('../images/common/bg_header_con.png') no-repeat 0 5px;
		padding:0;
	}
	h1.site-logo {
		margin:0;
		padding-top:63px;
	}
	h1.site-logo a {
		display:block;
		width:198px;
		height:42px;
		text-indent:-9999px;
		background:url('../images/common/h1-logo.png') no-repeat 0 0;
	}
	
	.gnb {
		position:absolute;
		top:9px;
		right:40px;
	}
	
	.gnb ul {
		#util>.clearFloat();
	}
	
	.gnb ul li {
		float:left;
		padding:0 12px;
		background:url('../images/common/gnb_li.png') no-repeat 0 50%;
		font-size:12px;
	}
	
	.gnb ul li:first-child {
		background:none;
	}
	
	.gnb ul li a {
		color:#ececec;
	}
	
	.gnb ul li.gnb-display {
		color:#a0c4e3;
	}
	
	.gnb ul li.gnb-display .controls {
		overflow: hidden;
		display: inline-block;
		vertical-align: middle;
		margin-top: -2px;
		margin-left:7px;
		a {
			text-indent:-9999px;
			float: left;
			display:inline-block;
			width:18px;
			height:18px;
			border:1px solid #5084bf;
			margin-left: -1px;
			vertical-align: middle;
			
			&:first-child{
				margin-left: 0;
			}
			&.zoom-in {
				background:url('../images/common/bg_zoomin.png') no-repeat 50% 50%;
			}
			
			&.rotation {
				background:url('../images/common/bg_rotation.png') no-repeat 50% 50%;
			}
			
			&.zoom-out {
				background:url('../images/common/bg_zoomout.png') no-repeat 50% 50%;
			}
		}
	}
	
	
	p.site-map {
		position:absolute;
		top:0;
		right:0;
	}
	
	p.site-map a {
		display:block;
		width:40px;
		height:40px;
		background:url('../images/common/sitemap-btn.png') no-repeat 0 0;
		text-indent:-9999px;
		margin:0;
	}
	
	.lnb {
		position:absolute;
		top:74px;
		left:250px;
		overflow:hidden;
	}
	
	.lnb li {
		float:left;
		padding:0 16px;
	}
	
	.lnb li a {
		color:#103555;
		font-size:18px;
		font-weight:600;
		letter-spacing:-0.045em;
	}
	
	.search-box {
		position:absolute;
		top:67px;
		left:668px;
		overflow:hidden;
		width:240px;
		height:34px;
		background:url('../images/common/bg_search-box.png') no-repeat 0 0;
	}
	
	.search-box p.select-click {
		display:inline-block;
		width:70px;
		height:34px;
		background:url('../images/common/select-click.png') no-repeat 80% 50%;
		text-indent:-9999px;
		margin:0;
		line-height:34px;
	}
	
	.search-box input {
		background:transparent;
		border:0px none;
		height:34px;
		width:126px;
		padding-left:5px;
	}
	
	.search-box input[type="button"] {
		float:right;
		width:34px;
		height:34px;
		background:url('../images/common/search-btn.png') no-repeat 50% 50%;
		text-indent:-9999px;
	}
	
}

.snb {
	width:100%;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #cfcfcf;
	height:49px;
	background-color:#fff;
	position:relative;
	z-index:100;
	
	>ul{
		width:1000px;
		margin:0 auto;
		#util>.clearFloat();
		
		>li{
			position: relative;
			float:left;
			border-right:1px solid #e4e4e4;
			background:url('../images/common/snb_arrow.png') no-repeat 90% 50%;
			
			&.home{
				background:none;
				
				a {
					width:53px;
					height:49px;
					text-indent:-9999px;
					border-left:1px solid #e4e4e4;
					background:url('../images/common/bg_home_ico.png') no-repeat 50% 50%;
				}
			}
			&:hover{
				>ul{
					display: block;
				}
			}
			>a{
				display:block;
				height:49px;
				line-height:49px;
				padding-left:17px;
				font-size:14px;
				color:#666;
			}
			>ul{
				display: none;
				position: absolute;
				left: 0;
				top: 48px;
				padding:5px 0;
				background-color:#fff;
				width:100%;
				border:1px solid #e4e4e4;
				border-top:0px none;
				
				li {
					padding:5px 15px;
					
					a {
						color:#666;
						font-size:13px;
						
						&:hover {
							color:#000;
						}
					}
				}
			}
			
			&:nth-of-type(2) {
				min-width:143px;
				padding-right:35px;
			}
			
			&:nth-of-type(3) {
				min-width:174px;
				padding-right:35px;
			}
			
		}
	}
}

/* 페이지 네이게이션 */
.pagination > li > a, .pagination > li > span {
	padding:6px 11px;
	color:#888;
	font-size:12px;
	border:1px solid #e2e2e2;
	font-family:'돋움', Dotum;
	margin-right:3px;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
	background-color:#034a87;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
	border-radius:0;
}

.pagination > li > a.prev {
	width:30px;
	background:#fff url('../images/common/bg_arrow-prev.png') no-repeat 50% 50%;
	margin-right:0;
}

.pagination > li > a.prev span {
	font-size:0;
}

.pagination > li > a.next {
	width:30px;
	background:#fff url('../images/common/bg_arrow-next.png') no-repeat 50% 50%;
}

.pagination > li > a.next span {
	font-size:0;
}

/* 검색박스 인풋 */
select.search-select {
	width:107px;
	height:30px;
	padding-left:5px;
	font-family:'돋움', Dotum;
	font-size:12px;
	border:1px solid #cdcdcd;
}

input {
	vertical-align:middle;
}

input.input-text-primary {
	width:154px;
	height:30px;
	padding-left:5px;
	border:1px solid #cdcdcd;
}

input.search-btn {
	width:30px;
	height:30px;
	border:1px solid #d4d4d4;
	text-indent:-9999px;
	background:#fff url('../images/common/bg_search-btn.png') no-repeat 50% 50%;
}

/* 서브 공통 */
.layout-page {
	
	#content {
		position:relative;
		padding-bottom:110px;
	}
	
	h2 {
		font-size:30px;
		text-align:center;
		font-weight:600;
		margin-top:50px;
		background:url('../images/common/bg_h2.png') no-repeat 50% 0;
		padding-top:15px;
	}
	
	p.additional {
		text-align:center;
		font-size:12px;
		font-family:'돋움', Dotum;
		color:#aaa;
		margin-bottom:35px;
	}
	
	dl.paging {
		position:absolute;
		right:0;
		top:55px;
		
		dd {
			font-size:11px;
			padding-left:22px;
			background:url('../images/common/bg_paging_home.png') no-repeat 0 50%;
			height:22px;
			line-height:22px;
			
			a {
				color:#bebebe;
				font-family:'돋움', Dotum;
				display:inline-block;
				padding:0 8px;
				background:url('../images/common/bg_paging-arrow.png') no-repeat 100% 50%;
			}
			
			a:nth-of-type(2) {
				padding-left:2px;
			}
			
			span {
				color:#888;
				font-family:'돋움', Dotum;
			}
			
		}
		
	}
	
	ul.qna {
		border-top:2px solid #034a87;
	
		li {
			border-bottom:1px solid #e6e6e6;
			
			&:last-child {
				border-bottom:1px solid #d4d4d4;
			}
			
			dl {
				margin:0;
				
				dt {
					height:54px;
					line-height:54px;
					font-size:14px;
					font-family:'돋움', Dotum;
					color:#666;
					font-weight:normal;
					cursor:pointer;
					
					span {
						display:inline-block;
						width:50px;
						text-indent:-9999px;
						background:url('../images/sub/bg_qna-q.png') no-repeat 11px 50%;
					}
					
				}
				
				dd {
					border-top:1px solid #e6e6e6;
					padding:14px 50px 20px 55px;
					background:#fff url('../images/sub/bg_qna-a.png') no-repeat 11px 12px;
					font-size:12px;
					font-family:'돋움', Dotum;
					color:#444;
					line-height:18px;
					display:none;
					
					span {
						text-indent:-9999px;
						
					}
				}
				
			}
			
		}
	}
	
	.page-nav-box {
		overflow:hidden;
		
		ul.pagination {
			float:left;
		}
		
		.search {
			float:right;
			margin:20px 0;
		}
		
	}
		
}

/* board-primary */
table.board-primary {
	width:100%;
	border-top:2px solid #034a87;
	
	tbody tr:hover {
		background-color:#fdfdfd;
	}
	
	tbody tr:last-child td {
		border-bottom:1px solid #d4d4d4;
	}
	
	tr {
		width:100%;
		
		th {
			height:39px;
			background-color:#fff;
			font-size:12px;
			color:#666;
			font-family:'돋움', Dotum;
			font-weight:600;
			text-align:center;
			border-bottom:1px solid #d4d4d4;
			border-right:1px solid #e6e6e6;
			
			&:last-child {
				border-right:0px none;
			}
		}
		
		td {
			font-size:12px;
			color:#444;
			font-family:'돋움', Dotum;
			text-align:center;
			height:39px;
			border-bottom:1px solid #e6e6e6;
			
			a {
				font-family:'돋움', Dotum;
				color:#444;
			}
		}
	}
	
}

/* board-view */
.board-view {
	h3 {
		font-size:14px;
		color:#444;
		font-family:'돋움', Dotum;
		font-weight:600;
		height:43px;
		line-height:43px;
		padding-left:17px;
		background-color:#fff;
		border-top:2px solid #034a87;
		margin:0;
	}
	
	ul.info {
		li {
			border-top:1px solid #e6e6e6;
			height:43px;
			line-height:43px;
			font-size:12px;
			font-family:'돋움', Dotum;
			color:#444;
			background-color:#fff;
			
			strong {
				display:inline-block;
				margin-left:17px;
				margin-right:7px;
				padding:0 5px;
				height:21px;
				line-height:21px;
				margin-top:-4px;
				background-color:#a3a3a3;
				text-align:center;
				color:#fff;
				font-size:12px;
				font-family:'돋움', Dotum;
				font-weight:normal;
				border-radius:2px;
				vertical-align:middle;
			}
			
			span {
				vertical-align:middle;
				display:inline-block;
				margin-left:20px;
				margin-right:7px;
				padding:0 5px;
				height:21px;
				line-height:21px;
				background-color:#c4c4c4;
				color:#fff;
				font-size:12px;
				font-family:'돋움', Dotum;
				border-radius:2px;
				margin-top:-4px;
			}
			
			a {
				color:#444;
				display:inline-block;
				padding-left:20px;
				background:url('../images/sub/bg_a-file.png') no-repeat 0 50%;
				
				&:hover, &:focus {
					text-decoration:underline;
				}
			}
		}
	}
	
	.board-con {
		padding:20px 17px;
		line-height:1em;
		font-size:12px;
		font-family:'돋움', Dotum;		
		border-top:1px solid #d4d4d4;
		border-bottom:1px solid #e6e6e6;
	}
	
	ul.view-nav {
		li {
			border-bottom:1px solid #e6e6e6;
			height:49px;
			line-height:49px;
			background-color:#fff;
			padding-left:28px;
			overflow:hidden;
			
			span.prev {
				color:#999;
				font-size:12px;
				font-family:'돋움', Dotum;
				display:inline-block;
				padding-right:35px;
				background:url('../images/sub/view_arrow-prev.png') no-repeat 80% 48%;
			}
			
			span.next {
				color:#999;
				font-size:12px;
				font-family:'돋움', Dotum;
				display:inline-block;
				padding-right:35px;
				background:url('../images/sub/view_arrow-next.png') no-repeat 80% 48%;
			}
			
			span.date {
				float:right;
				color:#999;
				font-size:12px;
				font-family:'돋움', Dotum;
				display:inline-block;
				padding-right:30px;
			}
			
			a {
				color:#444;
				font-size:12px;
				font-family:'돋움', Dotum;
			}
		}
	}
	
	p.list-btn {
		text-align:center;
		padding-top:35px;
		
		.btn-default {
			
		}
		
	}
}

.form-control {
	border-radius:0;
	border:1px solid #d8d8d8;
	font-size:12px;
	color:#888;
	height:34px;
}

.btn-default {
	background-color:#0d497d;
	color:#fff;
	padding:13px 42px;
	border: 1px solid #316490;
	box-shadow: 0px 0px 0px 1px #0a375b;
	font-size:15px;
	font-weight:600;
	
	&:hover, &:focus, &:active, &:hover:active, &:active:focus {
		background-color:#0c416c;
		color:#fff;
		border: 1px solid #316490;
		box-shadow: 0px 0px 0px 1px #0a375b;
	}
	
	span {
		display:inline-block;
		padding-right:7px;
		vertical-align:middle;
		margin-top:-3px;
	}
}

.nav-tabs {
		border-left:1px solid #dfdfdf;
		border-right:1px solid #dfdfdf;
	li {
		padding:0;
		a {
			text-align:center;
			background-color:#fff;
			padding:13px 0;
			margin-right:0;
			border-right:1px solid #dfdfdf;
			border-bottom:1px solid #dfdfdf;
			border-top:1px solid #dfdfdf;
			border-radius:0;
			color:#444;
			font-size:14px;
			font-family:'돋움', Dotum;
			
		}
		
		&.active a {
			border:1px solid #034a87;
			border-radius:0;
			background-color:#034a87;
			color:#fff;
			
			&:hover, &:focus {
				background-color:#004683;
				color:#fff;
				border:1px solid #034a87;
			}
		}
	} 
}

/* 푸터 영역 */
#footer{
	position: relative;
	z-index: 200;
	overflow: hidden;
	background-color: #fff;
	height:197px;
	
	.ft_list {
		height:71px;
		border-top:1px solid #d5d5d5;
		border-bottom:1px solid #d5d5d5;
		
		ul {
			width:1000px;
			margin:0 auto;
			text-align:center;
			
			li {
				display:inline-block;
				padding:0 13px;
				background:url('../images/common/bg_ft_list.png') no-repeat 0 50%;
				
				&:first-child {
					background:none;
				}
				
				a {
					display:inline-block;
					height:70px;
					line-height:70px;
					font-size:14px;
					color:#333;
					font-weight:600;
					letter-spacing:-0.045em;
					
					&:hover {
						border-bottom:3px solid #034a87;
					}
				}
				
			}
		}
	}
	
	.container{
		position: relative;
		height: 126px;
		padding-left:145px;
		background:url('../images/common/ft_logo.png') no-repeat 0 20px;
		
		address {
			padding-top:25px;
			font-size:12px;
			color:#666;
			line-height:20px;
			letter-spacing:-0.045em;
			
			p.copy {
				color:#aaa;
			}
		}
	}
}

/* modal */
.layout-modal {
	h1 {
		margin:0;
		height:50px;
		line-height:50px;
		background:#00acdc url('../images/sub/modal-h1.png') no-repeat 16px 50%;
		color:#fff;
		font-size:18px;
		font-weight:normal;
		padding-left:55px;
	}
	
	#container {
		padding:20px 57px 20px 35px;
	}
}

/* sub-style */
.sub-style {
	width:100%;
	margin:0 auto;
	min-width:1000px;
		
	.header {
		position:relative;
		height:80px;
		
		h1.site-logo {
			margin:0;
			padding-top:24px;
			
			a {
			display:block;
			width:198px;
			height:42px;
			text-indent:-9999px;
			background:url('../images/common/h1-logo.png') no-repeat 0 0;
			}
			
		}
		
		ul.local-menu {
			position:absolute;
			top:29px;
			right:0;
			overflow:hidden;
			
			li{
				
				float:left;
				padding:0 7px;
				background:url('../images/graph/local-li.png') no-repeat 0 50%;
				
				&:first-child, &:last-child {
					background:none;
				}
				
				a {
					font-size:12px;
					font-family:'돋움', Dotum;
					color:#034a87;
					height:34px;
					line-height:34px;
				
				}
							
				.search-box {
					overflow:hidden;
					width:240px;
					height:34px;
					background:url('../images/common/bg_search-box.png') no-repeat 0 0;
				}
				
				.search-box p.select-click {
					display:inline-block;
					width:70px;
					height:34px;
					background:url('../images/common/select-click.png') no-repeat 80% 50%;
					text-indent:-9999px;
					margin:0;
					line-height:34px;
				}
				
				.search-box input {
					background:transparent;
					border:0px none;
					height:34px;
					width:126px;
					padding-left:5px;
				}
				
				.search-box input[type="button"] {
					float:right;
					width:34px;
					height:34px;
					background:url('../images/common/search-btn.png') no-repeat 50% 50%;
					text-indent:-9999px;
				}	
			}
		}
	}
	
	.graph-wrap {
		width:100%;
		overflow:hidden;
		padding-bottom:10px;
		border-bottom:3px solid #034a87;
		
		.graph-menu {
			position:relative;
			height:50px;
			background-color:#034a87;
			padding-left:66px;
			
			h2 {
				color:#fff;
				font-weight:normal;
				font-size:18px;
				line-height:50px;
				margin:0;
			}
			
			ul.local-menu {
				position:absolute;
				top:10px;
				right:10px;
				overflow:hidden;
				
				li {
					float:left;
					padding:0 2px;
					
					a {
						display:inline-block;
						width:30px;
						height:30px;
						border:1px solid #4e8ec4;
						border-radius:2px;
						text-indent:-9999px;
						
						&.rotation {
							background:url('../images/graph/rotation.png') no-repeat 50% 50%;
							
							&:hover {
								background:#fff url('../images/graph/rotation-ov.png') no-repeat 50% 50%;
							}						
						}
						
						&.print {
							background:url('../images/graph/print.png') no-repeat 50% 50%;
							
							&:hover {
								background:#fff url('../images/graph/print-ov.png') no-repeat 50% 50%;
							}
						}
						
						&.graph {
							background:url('../images/graph/graph-ico.png') no-repeat 50% 50%;
							
							&:hover {
								background:#fff url('../images/graph/graph-ico-ov.png') no-repeat 50% 50%;
							}
						}
						
						&.x {
							background:url('../images/graph/x-ico.png') no-repeat 50% 50%;
							
							&:hover {
								background:#fff url('../images/graph/x-ico-ov.png') no-repeat 50% 50%;
							}
						}
						
						&:hover {
							background-color:#fff;
						}
					}
				}
			}
			
			p.menu {
				position:absolute;
				top:0; 
				left:0;
				
				a {
					display:block;
					width:50px;
					height:50px;
					background:url('../images/graph/menu.png') no-repeat 0 0;
				}
			}
		}
		
		.graph-view {
			position:relative;
			width:100%;
			background-color:#f4f4f4;
			border:1px solid #e6e6e6;
			padding:37px 349px 37px 49px;
			height:993px;
			
			ul.top-tab {
				overflow:hidden;
				height:45px;
				background:url('../images/graph/bg_top-tab.png') repeat-x 0 0;
				border-right:1px solid #dfdcdc;
				margin-bottom:15px;
				
				li {
					float:left;
					width:135px;
					height:45px;
					
					a {
						height:45px;
						display:block;
						font-size:15px;
						color:#999;
						text-align:center;
						line-height:45px;
						border:1px solid #dfdcdc;
						border-left:0px none;
						background-color:#fcfcfc;
						border-bottom:1px solid #b0b0b0;
						font-weight:600;
					}
					
					&.active {
					
						a {
							color:#555;
							border:1px solid #929292;
							border-bottom:1px solid #dfdcdc;
							background-color:#f7f2f4;
						}
					}
				}
			}
			
			table.type {
				width:100%;
				border-top:1px solid #d6d6d6;
				border-right:1px solid #d6d6d6;
				
				tr {
					border-bottom:1px solid #dadada;
					
					&:last-child {
						border-bottom:1px solid #b0b0b0;
					}
					
					th {
						height:42px;
						background-color:#f9f9f9;
						text-align:center;
						font-weight:600;
						font-size:12px;
						font-family:'돋움', Dotum;
						border-left:1px solid #d6d6d6;
						border-right:1px solid #d6d6d6;
					}
					
					td {
						background-color:#fff;
						padding-left:8px;
						font-family:'돋움', Dotum;
						font-size:12px;
						color:#666;
						
						input[type="button"] {
							background-color:#414141;
							width:50px;
							height:30px;
							border: 1px solid #636363;
							box-shadow: 0px 0px 0px 1px #3c3c3c;
							font-size:15px;
							font-weight:600;
							color:#fff;
							border-radius:3px;
							font-size:13px;
						}
					}
					
				}
			}
			
			ul.mid-tab {
				overflow:hidden;
				padding-top:43px;
				padding-bottom:12px;
				border-bottom:1px solid #cecece;
			
				li {
					float:left;
					padding-right:5px;
					
					&.ri {
						float:right;
						font-size:12px;
						font-family:'돋움', Dotum;
						font-weight:600;
						text-align:right;
						
						select {
							display:inline-block;
							width:126px;
							vertical-align:middle;
						}
						
					}
					
					a {
						display:block;
						width:80px;
						height:30px;
						line-height:30px;
						background-color:#fff;
						border-radius:3px;
						color:#666;
						font-size:13px;
						font-weight:600;
						text-align:center;
						box-shadow: 1px 1px 5px 0px rgba(228,228,228,1);
					}
					
					&.active {
						a {
							background-color:#034a87;
							color:#fff;
						}
					}
					
				}
			}
			
			p.graph-img {
				height:293px;
				background:url('../images/graph/graph-img1.png') no-repeat 50% 50%;
				border:1px solid #c4c4c4;
				margin-top:35px;
				text-indent:-9999px;
				position:relative;
				
				span {
					text-indent:0;
					position:absolute;
					top:-22px;
					right:0;
					color:#666;
					font-weight:normal;
					display:block;
					font-family:'돋움', Dotum;
					font-size:12px;
				}
			}
			
			table.graph-table {
				width:100%;
				border-top:2px solid #034a87;
				margin-top:15px;
				
				tr {
					border-bottom:1px solid #dedede;
					font-family:'돋움',Dotum;
					
					th {
						height:35px;
						background-color:#fbfbfb;
						text-align:center;
						font-size:12px;
						color:#444;
						border-right:1px solid #d9d9d9;
						text-decoration:underline;
						
						&:first-child {
							width:100px;
						}
						
						&:last-child {
							border-right:0;
						}
					}
					
					&:nth-of-type(2) {
						th {
							font-size:11px;
							color:#666;
							font-weight:normal;
							text-decoration:none;
							
							&:first-child {
								font-size:12px;
								color:#444;
								font-weight:600;
								text-decoration:underline;
							}
						}
					}
					
					td {
						text-align:right;
						border-right:1px solid #d9d9d9;
						font-size:12px;
						color:#666;
						height:31px;
						padding-right:9px;
						
						&:first-child {
							text-align:center;
							padding:0;
						}
						
						&:last-child {
							border-right:0;
						}
					}
				}
			}			
			
			p.info-menu {
				width:40px;
				height:185px;
				position:absolute;
				right:299px;
				top:0;
				background:url('../images/graph/info-menu.png') no-repeat 0 0;
				
				&.on{
					background:url('../images/graph/info-menu-ov.png') no-repeat 0 0;
				}
				
				a {
					display:block;
					width:40px;
					height:40px;
					text-indent:-9999px;
					margin-top:145px;
				}
			}

			.graph-info {
				position: absolute;
				right:-1px;
				top:0;
				width:300px;
				border:1px solid #c2c5c8;
				height:993px;
				background:#fff url('../images/graph/bg_graph-info.png') no-repeat right bottom;
				
				ul.info-tab {
					overflow:hidden;
					padding-bottom:8px;
					border-bottom:1px solid #f0f0f0;
					
					li {
						float:left;
						width:50%;
						
						a {
							display:block;
							text-align:center;
							height:41px;
							line-height:45px;
							background-color:#f1f1f2;
							border-bottom:1px solid #c2c5c8;
							font-size:14px;
							font-weight:600;
							color:#666;
							border-left:1px solid #c2c5c8;
							border-top:3px solid #b7b9ba;
						}
						
						&.active {
							a {
								background-color:#ffffff;
								border-bottom:1px solid #fff;
								color:#f77a00;
								border-top:3px solid #ff9401;
							}	
						}
						
						&:first-child a {
							border-left:0px none;
						}
					}
				}
				
				ul.chk-list {
					padding:20px 16px;
					
					li {
						padding-bottom:10px;
						font-size:12px;
						font-family:'돋움', Dotum;
						
						strong {
							display:inline-block;
							color:#034a87;
							padding-left:18px;
							background:url('../images/graph/strong-chk.png') no-repeat 0 50%;
						}
						
						em {
							font-style:normal;
							display:inline-block;
							padding-left:5px;
							color:#666;
						}
						
						span {
							display:block;
							color: #666;
							padding-left:16px;
						}
					}
				}
				
				p.more {
					position:absolute;
					bottom:0;
					right:0;
					
					a {
						display:block;
						width:79px;
						height:45px;
						text-indent:-9999px;
					}
				}
			}
			
		}
	}
	
	.footer {
		position: relative;
		height:70px;
		
		p.copy {
			text-align: center;
			color: #aaa;
			font-size:12px;
			font-family:'돋움', Dotum;
			padding-top:20px;
		}
		
		p.ri-btn {
			position: absolute;
			right:0;
			top:10px;
			
			a {
				display:inline-block;
				width:105px;
				height:28px;
				background-color:#9b9b9b;
				text-align:center;
				line-height:28px;
				color:#fff;
				font-size:12px;
				font-family:'돋움', Dotum;
				border-radius:3px;
				letter-spacing:-0.05em;
				font-weight:600;
			}
		}
	}
}

.stat-depth2 {
	position:absolute;
	z-index:9999;
	top:128px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	border-top:1px solid #74d1e0;
	
	p.img {
		width:100%;
		text-align:center;
		background-color:#fff;
		height:420px;
		position:absolute;
		top:0;
		
		img {
			position:absolute;
			top:0;
			left:50%;
			margin-left:-500px;
			z-index:999;
		}
	}
	
	#container {
		width:1000px;
		height:420px;
		margin:0 auto;
		position:relative;
		padding:0;
		z-index:99999;
		
		ul.menu {
			position:absolute;
			margin:0 auto;
			top:40px;
			left:295px;
			width:630px;
			overflow:hidden;
			
			li {
				float:left;
				padding-bottom:20px;
				
				a {
					display:block;
					width:210px;
					height:160px;
					text-indent:-9999px;
				}
			}
		}
		
		p.close {
			position:absolute;
			top:26px;
			right:38px;
			
			a {
				display:block;
				width:44px;
				height:44px;
				text-indent:-9999px;
			}
		}
	}
}

.fixed {
	position:fixed;
	top:0;
}