/* 알림마당 - 국토교통통계 소개 */
.page-notice-introduce {
	width:100%;
	
	p.visaul-txt {
		height:200px;
		background:url('../images/sub/bg_introduce-visual.png') no-repeat 0 0;
		text-indent:-9999px;
	}
	
	p.txt1 {
		font-size:14px;
		line-height:24px;
		color:#444;
		text-align:center;
		padding:20px 0 27px 0;
		border-bottom:1px solid #dadada;
	}
	
	ul.list {
		margin:0;
		padding-top:35px;
		overflow:hidden;
		
		li {
			padding:0;
			height:130px;
			
			dl {
				padding-left:106px;
				height:130px;
				background:url('../images/sub/introduce-img1.png') no-repeat 0 0;
								
				dt {
					font-size:22px;
					color:#034a87;
					font-weight:normal;
				}
				
				dd {
					font-size:12px;
					font-family:'돋움', Dotum;
					color:#444;
					line-height:19px;
				}
			}
			
		}
		
		li:nth-of-type(2) dl {
			background-image:url('../images/sub/introduce-img2.png');
		}
		
		li:nth-of-type(3) dl {
			background-image:url('../images/sub/introduce-img3.png');
		}
		
		li:nth-of-type(4) dl {
			background-image:url('../images/sub/introduce-img4.png');
		}
		
		li:nth-of-type(5) dl {
			background-image:url('../images/sub/introduce-img5.png');
		}
		
		li:nth-of-type(6) dl {
			background-image:url('../images/sub/introduce-img6.png');
		}
		
		li:nth-of-type(7) dl {
			background-image:url('../images/sub/introduce-img7.png');
		}
	}
}

/* 공지사항 */
.page-notice-notice {
	table.board-primary { 
		tbody tr td:nth-of-type(2) {
			text-align:left;
			padding-left:14px;
		}
	}
}

/* 통계이야기 */
.page-notice-statstory {
	table.board-primary { 
		tbody tr td:nth-of-type(2) {
			text-align:left;
			padding-left:14px;
		}
	}
}

/* 보도자료 */
.page-notice-colmn {
	table.board-primary { 
		tbody tr td:nth-of-type(2) {
			text-align:left;
			padding-left:14px;
		}
	}
}

/* 통계공표일정 */
.page-notice-schedule {
	table.board-primary { 
		tbody tr td:nth-of-type(2) {
			text-align:left;
			padding-left:14px;
		}
	}
}

/* 통계담당부서안내 */
.page-notice-statdep {
	table.board-primary { 
		tbody tr td:nth-of-type(2) {
			text-align:left;
			padding-left:14px;
		}
	}
}

/* 간행물 */
.page-data-period {
	table.board-primary { 
		tbody tr td:nth-of-type(3) {
			text-align:left;
			padding-left:14px;
		}
	}
}

/* 통계법령자료 */
.page-data-legal {
	table.board-primary { 
		tbody tr td:nth-of-type(3) {
			text-align:left;
			padding-left:14px;
		}
	}
}

/* 통계서식정보 */
.page-data-stat {
	table.board-primary { 
		tbody tr td:nth-of-type(3) {
			text-align:left;
			padding-left:14px;
		}
	}
}

/* 알림마당 - 관련사이트 */
.page-notice-site {
	h3 {
		height:55px;
		line-height:55px;
		font-size:20px;
		color:#444;
		clear:both;
		font-weight:normal;
		
		&:nth-of-type(1) {
			padding-top:20px;
			border-top:2px solid #034a87;
			height:75px;
		}
		
		span {
			display:inline-block;
			width:55px;
			height:55px;
			text-align:center;
			line-height:55px;
			background-color:#fff;
			border:1px solid #d6d6d6;
			margin-right:13px;
			font-size:16px;
			color:#444;
			font-weight:600;
		}
	}
	.site {
		padding:0;
		
		&:nth-of-type(3), &:nth-of-type(4) {
			margin-bottom:80px;
		}
		
		ul {
			width:470px;
			margin-top:5px;
			margin-bottom:50px;
			
			li {
				overflow:hidden;
				height:35px;
				line-height:35px;
				padding-left:3px;
				border-bottom:1px solid #ebebeb;
				position:relative;
				
				a {
					font-size:12px;
					color:#444;
					
					&:hover {
						text-decoration:underline;
					}
					
					span {
						float:right;
						display:inline-block;
						padding-right:35px;
						color:#999;
					
						&:hover {
							text-decoration:underline;
						}
					}
					
				}
				
				span.plus {
					position:absolute;
					right:0;
					top:8px;
					width:20px;
					height:20px;
					background:url('../images/sub/plus_ico.png') no-repeat 0 0;
				}
			}
		}
	}	
}

/* 알림마당 - 뷰어다운로드 */
.page-notice-viewer {
	p.txt1 {
		height:110px;
		background:url('../images/sub/bg_viewer-txt1.png') no-repeat 0 0;
		padding-left:284px;
		padding-top:27px;
		font-size:12px;
		color:#444;
		line-height:19px;
		font-family:'돋움', Dotum;
		
		span {
			text-decoration:underline;
		}
	}
	
	ul.viewer-list {
		margin-left: 1px;
		margin-right: -3px;
		
		li {
			position: relative;
			margin: -1px 0 0 -1px;
			background-color:#fff;
			border: 1px solid #dfdfdf;
			padding:0;
			
			&:hover{
				border-color: #7f7f7f;
				z-index: 10;
			}
			
			&:first-child {
					background:url('../images/sub/bg_viewer-1.png') no-repeat 36px 59px;
				}
			
			&:nth-of-type(2) {
				background:url('../images/sub/bg_viewer-2.png') no-repeat 36px 59px;
			}
			
			&:nth-of-type(3) {
				background:url('../images/sub/bg_viewer-3.png') no-repeat 36px 59px;
			}
			
			&:nth-of-type(4) {
				background:url('../images/sub/bg_viewer-4.png') no-repeat 36px 52px;
			}
			
			&:nth-of-type(5) {
				background:url('../images/sub/bg_viewer-5.png') no-repeat 36px 52px;
			}
			
			&:last-child {
				background:url('../images/sub/bg_viewer-6.png') no-repeat 36px 52px;
			}
			a{
				display: block;
				height:181px;
			}
			dl {
			
				height:181px;
				
				dt {
					font-size:22px;
					color:#034a87;
					font-weight:normal;
					padding:38px;
					
					span {
						font-size:14px;
						color:#afafaf;
						display:block;
					}
				}
				
				dd {
					padding-left:66px;
					font-size:12px;
					font-family:'돋움', Dotum;
					color:#666;
					
				}
				
			}
			
			a:hover {
				dd{
					text-decoration:underline;
				}
			}
			
		}
	}
}

/* 통계마당 - 체크 */
.page-stat {
	p.chk {
		height:82px;
		border-top:2px solid #034a87;
		border-bottom:1px solid #d4d4d4;
		line-height:82px;
		background-color:#fff;
		text-align:center;
		color:#aaa;
		font-size:14px;
		font-family:'돋움', Dotum;
		margin-bottom:20px;
		
		input[type="radio"], input[type="checkbox"] {
			margin: 0 0 0 4px;
			vertical-align:middle;
		}
		
	}
	
	p.stat-btn {
	
		text-align:center;
		height:65px;
		line-height:64px;
		border-bottom:1px solid #cecece;
		margin-bottom:0;
		
		a {
			display:inline-block;
			font-size:14px;
			color:#444;
			font-family:'돋움', Dotum;
			margin:0 4px;
			height:29px;
			line-height:29px;
			padding:0 18px;
			
			&.active {
				background-color:#034a87;
				color:#fff;
				border-radius:13px;
			}
		}
	}
	
	.tab-content {
		overflow:hidden;
	}
	
	ul.stat-list {
	
		width:470px;
		margin-top:20px;

		
		li {
			overflow:hidden;
			height:35px;
			line-height:35px;
			padding-left:3px;
			border-bottom:1px solid #ebebeb;
			position:relative;
			
			a {
				font-size:12px;
				color:#444;
				
				&:hover {
					text-decoration:underline;
				}
				
				span {
					float:right;
					display:inline-block;
					padding-right:35px;
					color:#999;
				
					&:hover {
						text-decoration:underline;
					}
				}
				
			}
			
			span.plus {
				position:absolute;
				right:0;
				top:8px;
				width:20px;
				height:20px;
				background:url('../images/sub/plus_ico.png') no-repeat 0 0;
			}
		}
	}
	
}

.page-stat-name {
	ul.nav-tabs li {
		width:66.5px;
		
		&:last-child {
			width:67.01px;
			
			a {
				border-right:0px none;
			}
		}
	}
}

.page-data-quality {
	ul.nav-tabs li {
		width:20%;
		
		&:last-child {
		
			a {
				border-right:0px none;
			}
		}
	}
}


.page-stat-area {
	
	.tab-content {
		overflow:hidden;
		margin-top:20px;
		
		.le-list {
			float:left;
			width:340px;
			
			ul.stat-list {
				width:340px;
				
			}
		}
		
		.map {
			margin-top:25px;
			float:right;
			width:600px;
			height:530px;
			background:url('../images/sub/bg_area-map.png') no-repeat 0 0;
			overflow:hidden;
			
			h3 {
				font-size:18px;
				float:left;
				padding-left:54px;
				padding-top:23px;
				margin:0;
				font-weight:normal;
			}
			
			.search {
				float:right;
				padding-top:16px;
				padding-right:16px;
			}
		}
		
	}	

}

.page-stat-other {
	
	ul.nav-tabs li {
		width:12.5%;
	}
	
	table.board-primary {
		margin-top:50px;
		
		tr {
			th {
			
				&:first-child{
					width:75px;
				}
				
				&:nth-of-type(2) {
					width:132px;
				}
				
				&:nth-of-type(3) {
					width:468px;
				}
			}
			
			td {
				&:last-child {
					text-align:left;
					padding-left:13px;
					position:relative;
					
					
					span.plus {
						position:absolute;
						right:0;
						top:8px;
						width:20px;
						height:20px;
						background:url('../images/sub/plus_ico.png') no-repeat 0 0;
					}
						
				}				
			}
		}
		
	}
	
}

.page-data-year {
	
	p.visual-txt {
		height:110px;
		background:url('../images/sub/year_visual-txt.png') no-repeat 0 0;
		text-indent:-9999px;
	}
	
	ul.year-list {
		overflow:hidden;
		
		li {
			float:left;
			width:240px;
			height:260px;
			margin:4px;
			
			dl {
				position:relative;
				background-color:#fff;
				height:260px;
				margin:0;
				border:1px solid #e4e4e4;
				font-family:'돋움', Dotum;
				
				&:hover {
					border:1px solid #7f7f7f;
				} 
				
				dt {
					font-size:14px;
					padding-top:162px;
					padding-left:12px;
					color:#333;
				}
				
				dd {
					&.txt {
						font-size:12px;
						color:#aaa;
						padding-left:12px;
					}
					
					&.img {
						position:absolute;
						top:8px;
						left:8px;
						width:222px;
						height:140px;
						background:url('../images/sub/year_dd-img.png') no-repeat 0 0;
						text-indent:-9999px;
					}
					
					&.detail {
						position:absolute;
						bottom:0;
						height:42px;
						line-height:40px;
						width:100%;
						border-top:1px solid #efefef;
						padding-left:37px;
						background:url('../images/sub/bg_year_dd-chk.png') no-repeat 13px 50%;
						font-size:11px;
						color:#ef624e;
						text-decoration:underline;
					}
				}
			}
			
		}
		
	}
	
}

.page-data-db {
	ul.db-tab {
		overflow:hidden;
			height:55px;
			background:url('../images/sub/bg_db-tab.png') repeat-x 0 0;
			border-right:1px solid #dadada;
		
		li {
			float:left;
			width:169px;
			height:55px;
			
			&.active a {
				border-left:1px solid #acacac;
				border-top:1px solid #acacac;
				border-right:1px solid #acacac;
				border-bottom:1px solid #dadada;
				color:#444;
				background:#fff url('../images/sub/bg_tab-active-arrow.png') no-repeat 50% 40px;
			}
			
			a {
				display:block;
				width:169px;
				height:55px;
				background-color:#f9f9f9;
				font-family:'돋움', Dotum;
				font-size:12px;
				font-weight:600;
				color:#aaa;
				text-align:center;
				line-height:55px;
				border-right:1px solid #d9d9d9;
				border-top:1px solid #d9d9d9;
				border-bottom:1px solid #acacac;
				border-left:1px solid #d9d9d9;
			}
		}
	}
	
	p.chk {
		height:90px;
		line-height:90px;
		text-align:center;
		color:#aaa;
		font-size:14px;
		font-family:'돋움', Dotum;
		margin:0;
	}
	
	ul.db-list {
		margin:0;
		border-top:2px solid #034a87;
		
		li {
			overflow:hidden;
		
			dl {
				margin:0; 
				
				dt {
				
					display:block;
					height:54px;
					line-height:54px;
					font-size:16px;
					color:#444;
					font-weight:normal;
					padding-left:12px;
					border-bottom:1px solid #dedede;
					cursor:pointer;
					background:#fff url('../images/sub/bg_db_list-arrow.png') no-repeat 99% 50%;
				}
				
				dd {
					
					display:none;
					padding-bottom:20px;
					margin:0;
					border-bottom:1px solid #dedede;
				
					h3 {
						font-size:14px;
						font-family:'돋움', Dotum;
						font-weight:600;
						padding:20px 5px 11px 5px;
						margin:0;
						border-bottom:1px solid #c5c5c5;
					}
					
					ul {
						li {
							
							border-bottom:1px solid #ebebeb;
						
							a {
								display:block;
								height:31px;
								line-height:31px;
								font-size:12px;
								color:#666;
								font-family:'돋움', Dotum;;
								padding-left:16px;
								background:url('../images/sub/bg_db-list-dd-arrow.png') no-repeat 7px 50%;
							}
						}
					}					
				}
			}
		}
	}
}

.page-data-word {
	p.chk {
		height:82px;
		border-top:2px solid #034a87;
		border-bottom:1px solid #d4d4d4;
		padding-top:23px;
		background-color:#fff;
		text-align:center;
		color:#aaa;
		font-size:14px;
		font-family:'돋움', Dotum;
		margin-bottom:20px;
		
		input[type="radio"], input[type="checkbox"] {
			margin: 0 0 0 4px;
			vertical-align:middle;
		}
		
		input[type="text"] {
			width:360px;
			height:34px;
			background-color:#f5f5f5;
			border:1px solid #d6d6d6;
		}
		
		input[type="button"] {
			background-color:#0d497d;
			width:55px;
			height:34px;
			border: 1px solid #316490;
			box-shadow: 0px 0px 0px 1px #0a375b;
			font-size:15px;
			font-weight:600;
			color:#fff;
			border-radius:3px;
		}
	}
	
	ul.nav-tabs li {
		width:66.5px;
		
		&:last-child {
			width:67.01px;
			
			a {
				border-right:0px none;
			}
		}
	}
	
	.tab-content {
		padding-top:35px;
		
		ul {
			li {
				border-bottom:1px solid #ebebeb;
				
				a {
					display:block;
					height:31px;
					line-height:31px;
					font-size:12px;
					color:#666;
					font-family:'돋움', Dotum;;
					padding-left:16px;
					background:url('../images/sub/bg_db-list-dd-arrow.png') no-repeat 7px 50%;
				}
			}
		}
		
	}
}

.page-data-system, .page-data-quality {
	dl.purpose {
		height:252px;
		padding-left:290px;
		background:url('../images/sub/bg_data-system_dl.png') no-repeat 70px 50%;
		
		dt {
			font-size:22px;
			color:#034a87;
			padding-top:38px;
			padding-bottom:15px;
			font-weight:normal;
			
		}
		
		dd {
		
			font-size:12px;
			font-family:'돋움', Dotum;
			color:#444;
			line-height:19px;
			margin-bottom:20px;
			
			strong {
				display:block;
				padding-left:7px;
				background:url('../images/sub/bg_db-list-dd-arrow.png') no-repeat 0 50%;
			}
		}
	}	
	
	ul.system-tab {
		overflow:hidden;
			height:55px;
			background:url('../images/sub/bg_db-tab.png') repeat-x 0 0;
			border-right:1px solid #dadada;
		
		li {
			float:left;
			width:155px;
			height:55px;
			
			&.active a {
				border-left:1px solid #acacac;
				border-top:1px solid #acacac;
				border-right:1px solid #acacac;
				border-bottom:1px solid #dadada;
				color:#444;
				background:#fff url('../images/sub/bg_tab-active-arrow.png') no-repeat 50% 40px;
			}
			
			a {
				display:block;
				width:155px;
				height:55px;
				background-color:#f9f9f9;
				font-family:'돋움', Dotum;
				font-size:12px;
				font-weight:600;
				color:#aaa;
				text-align:center;
				line-height:55px;
				border-right:1px solid #d9d9d9;
				border-top:1px solid #d9d9d9;
				border-bottom:1px solid #acacac;
				border-left:1px solid #d9d9d9;
			}
		}
	}
	
	.tab1-con {
		 h3 {
		 	font-size:22px;
		 	color:#034a87;
		 	padding-top:20px;
		 	font-weight:normal;
		 }
		 
		 ul {
		 	li {
		 		dl {
		 			font-size:12px;
		 			color:#444;
		 			font-family:'돋움', Dotum;
		 			
		 			dt {
		 				font-weight:600;
		 			}
		 			
		 			dd {
		 			
		 				>ul {
		 				
		 					>li {
				 				padding-left:9px;
				 				background:url('../images/sub/bul-black.png') no-repeat 2px 8px;
				 				line-height:19px;
				 			}
						}
		 			}
		 		}
		 	}
		 }
	}
}

.page-community-report {
	p.write-btn {
		text-align:right;
		
		a {
			display:inline-block;
			background-color:#0d497d;
			width:60px;
			height:34px;
			border: 1px solid #316490;
			box-shadow: 0px 0px 0px 1px #0a375b;
			font-size:14px;
			font-weight:normal;
			color:#fff;
			border-radius:3px;
			text-align:center;
			line-height:32px;
		}
	}
	
	table.board-primary {
		tr {
			th {
				&:first-child {
					width:75px;
				}
				
				&:nth-of-type(2) {
					width:716px;
				}
				
				&:nth-of-type(3) {
					width:96px;
				}
			}
			
			td {
				&:nth-of-type(2) {
					text-align:left;
					padding-left:12px;
				}
				
				&:last-child {
					span.success-btn {
						display:inline-block;
						width:53px;
						height:22px;
						background-color:#1fb701;
						border:1px solid #229a0b;
						color:#fff;
						font-size:11px;
						font-family:'돋움', Dotum;
						line-height:22px;
						text-align:center;
						border-radius:2px;
					}
					
					span.receive-btn {
						display:inline-block;
						width:53px;
						height:22px;
						background-color:#fff;
						border:1px solid #d4d4d4;
						color:#aaa;
						font-size:11px;
						font-family:'돋움', Dotum;
						line-height:22px;
						text-align:center;
						border-radius:2px;
					}
				}
			}
		}
	}
}

.page-community-report-write {
	.report-write {
		width:800px;
		margin:0 auto;
		
		p.txt1 {
			height:45px;
			line-height:45px;
			background:#034a87 url('../images/sub/bg_report-write-txt1.png') no-repeat 15px 50%;
			font-size:14px;
			color:#fff;
			padding-left:60px;
		}
		
		table {
			width:100%;
			border:1px solid #cecece;
			
			tr {
				border-bottom:1px solid #e5e5e5;
				font-family:'돋움', Dotum;
				
				th {
					width:125px;
					padding-left:25px;
					font-size:14px;
					color:#666;
					font-weight:normal;
				}
				
				td {
					padding:6px 0;
					
					select {
						border:1px solid #b7b7b7;
					}
					
					span {
						color:#aaa;
						font-size:12px;
						display:inline-block;
						padding-left:5px;
					}
					
				}
				
				&:first-child td {
					input[type="text"] {
						width:511px;
					}
				}
				
				&:nth-of-type(2) td, &:nth-of-type(3) td {
					select {
						width:177px;
					}
				}
				
				&:nth-of-type(4) td, &:nth-of-type(5) td {
					select {
						width:324px;
					}
				}
				
				&:nth-of-type(6) td textarea {
					width:643px;
					height:316px;
					overflow-y:scroll;
					resize:none;
				}
				
				&:nth-of-type(7) td, &:nth-of-type(8) td {
					input[type="text"] {				
						width:177px;
						display:inline-block;
					}
				}
				
				&:nth-of-type(9) td {
					input[type="text"] {				
						width:324px;
					}
				}
				
				&:nth-of-type(10) td {
					input[type="password"] {				
						width:177px;
						display:inline-block;
					}
				}
			}
		}
		
		p.btm-btn {
			text-align:center;
			padding-top:35px;
			margin:0;
			
			input[type="button"] {
				background-color:#0d497d;
				width:125px;
				height:48px;
				border: 1px solid #316490;
				box-shadow: 0px 0px 0px 1px #0a375b;
				font-size:15px;
				font-weight:600;
				color:#fff;
				border-radius:3px;
				margin-right:5px;
				vertical-align:middle;
			}
			
			a {
				display:inline-block;
				width:125px;
				height:48px;
				background-color:#aaa;
				border: 1px solid #b7b7b7;
				box-shadow: 0px 0px 0px 1px #969696;
				font-size:15px;
				font-weight:600;
				color:#fff;
				border-radius:3px;
				line-height:48px;
				vertical-align:middle;
			}
		}
	}
}

.page-community-report-view {
	.board-con {
		border-bottom:0px none;
	}
	.result {
		h4 {
			overflow:hidden;
			height:42px;
			margin:0;
			border:1px solid #d4d4d4;
			padding:0px 14px;
			line-height:42px;
			font-size:14px;
			font-family:'돋움', Dotum;
			color:#444;
			font-weight:600;
			background:#f6f6f6 url('../images/sub/bg_tab-active-arrow.png') no-repeat 80px 54%;
			
			strong {
				float:right;
				color:#999;
				font-size:12px;
				
				span {
					margin-left:5px;
					display:inline-block;
					width:53px;
					height:22px;
					font-size:11px;
					font-family:'돋움', Dotum;
					line-height:22px;
					text-align:center;
					border-radius:2px;
					font-weight:normal;
				}
				
				span.success-btn {
					background-color:#1fb701;
					border:1px solid #229a0b;
					color:#fff;
				}
				
				span.receive-btn {
					background-color:#fff;
					border:1px solid #d4d4d4;
					color:#aaa;
				}
			}
		}
		
		.result-con {
			min-height:179px;
			border:1px solid #d4d4d4;
			background:#fff url('../images/sub/profile-default.png') no-repeat 15px 22px;
			border-top:0px none;
			padding:20px 20px 20px 72px;			
			line-height:1em;
			font-size:12px;
			font-family:'돋움', Dotum;
		}
	}
	
	p.btm-btn {
		text-align:center;
		margin:0;
		padding-top:35px;
		
		a.btn-default {
			display:inline-block;
			background-color:#0d497d;
			width:125px;
			height:48px;
			border: 1px solid #316490;
			box-shadow: 0px 0px 0px 1px #0a375b;
			font-size:15px;
			font-weight:600;
			color:#fff;
			border-radius:3px;
			margin-right:5px;
			vertical-align:middle;
			
			span {
				vertical-align:middle;
				margin-left:-12px;
			}
		}
		
		a.btn-warning {
			display:inline-block;
			width:125px;
			height:48px;
			background-color:#aaa;
			border: 1px solid #b7b7b7;
			box-shadow: 0px 0px 0px 1px #969696;
			font-size:15px;
			font-weight:600;
			color:#fff;
			border-radius:3px;
			line-height:48px;
			vertical-align:middle;
			padding:0;
		}
	}
}

.data-year-view {
	overflow:hidden;
	
		.le {
			float:left;
			width:172px;
			
			strong {
				display:block;
				width:172px;
				height:236px;
				background:url('../images/sub/data-year-view-2014.png') no-repeat 0 0;
				text-indent:-9999px;	
			}
			
			span {
				display:block;
				margin-top:7px;
				overflow:hidden;
				vertical-align:middle;
				padding-right:10px;
				
				a {
					display:inline-block;
					vertical-align:middle;
					margin:0 2px;
					
					&.all {
						width:100px;
						height:30px;
						border:1px solid #d9d9d9;
						border-radius:2px;
						text-align:center;
						line-height:30px;
						font-size:11px;
						font-family:'돋움', Dotum;
						color:#444;
						background:url('../images/sub/data-year-all-down.png') no-repeat 9px 50%;
						padding-left:17px;
						letter-spacing:-0.045em;
					}
				}
				
				em {
					float:right;
					
					a {

						&.acrobat {
							width:16px;
							height:16px;
							text-indent:-9999px;
							background:url('../images/sub/down-acrobat.png') no-repeat 0 0;
						}
						
						&.excel {
							width:16px;
							height:16px;
							text-indent:-9999px;
							background:url('../images/sub/down-excel.png') no-repeat 0 0;
						}
					}
				}
			}
		}
		
		.ri {
			float:right;
			width:520px;
			
			>ul {
				border-top:2px solid #034a87;
				li {
					dl {
						margin:0;
						font-family:'돋움', Dotum;
					
						dt {
							height:46px;
							line-height:46px;
							padding-left:15px;
							font-size:14px;
							color:#444;
							border-bottom:1px solid #e7e7e7;
							background:#fff url('../images/sub/bg_db_list-arrow.png') no-repeat 99% 50%;
							cursor:pointer;
						}
						
						dd {
							display:none;
							
							>ul {
								li {
									overflow:hidden;
									height:33px;
									line-height:33px;
									font-size:12px;
									color:#888;
									background-color:#f9f9f9;
									border-bottom:1px solid #e7e7e7;
									
									&.big {
										padding-left:35px;
										font-weight:600;									
									}
									
									&.middle {
										padding-left:65px;									
									}
									
									&.small {
										padding-left:80px;									
									}
									
									span {
										float:right;
										
										a {
										vertical-align:middle;
										display:inline-block;
										text-indent:-9999px;
										width:16px;
										height:16px;
										margin:0 2px;
				
										&.acrobat {
											background:url('../images/sub/down-acrobat.png') no-repeat 0 0;
										}
										
										&.excel {
											background:url('../images/sub/down-excel.png') no-repeat 0 0;
										}
										
										&.hangul {
											background:url('../images/sub/down-hangul.png') no-repeat 0 0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.data-word-view {
	p {
		font-size:12px;
		font-family:'돋움', Dotum;
		color:#444;
		line-height:1.6em;
	}
}