<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="국토교통부 통계누리 홈페이지 입니다." />
<title>국토교통부 통계누리</title>
<link rel="apple-touch-icon" sizes="57x57" href="/resources/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/resources/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/resources/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/resources/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/resources/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/resources/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/resources/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/resources/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/resources/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/resources/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/resources/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/resources/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/resources/favicon/favicon-16x16.png">
<link rel="shortcut icon" href="/resources/favicon/favicon.ico">
<link rel="manifest" href="/resources/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/resources/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/resources/front/css/style.min.css" />
<link rel="stylesheet" href="/resources/front-legacy/css/legacy-style.css" />
<!--[if lt IE 9]><script src="/resources/front/js/vendor/jquery-1.12.2.min.js"></script><![endif]-->
<!--[if gte IE 9]><!--><script src="/resources/front/js/vendor/jquery.min.js"></script><![endif]-->
<script src="/resources/front/js/script.min.js"></script>
</head>
<body class="page- layout-page">
<div class="toppopup">
	<div class="toppopup-w">
		<ul class="top-slide">
			<li>
				<img src="/resources/front/images/main/bg_toppopup.png" alt="" />
			</li>
			<li>
				<img src="/resources/front/images/main/bg_toppopup.png" alt="" />
			</li>
			<li>
				<img src="/resources/front/images/main/bg_toppopup.png" alt="" />
			</li>
		</ul>
		<p class="x-btn">
			<input type="checkbox" />
			1일간 열지않음
			<a href="#close-toppopup">닫기</a>
		</p>
	</div>
</div><div id="wrap">
	<div class="dim">&nbsp;</div>
	<div class="sitemap_pc">
		<div class="sitemap_pc_wrap">
			<span></span>
			<h3><strong>국토교통통계누리</strong> 전체메뉴 보기<em>MINISTRY OF LAND, <strong>INFRASTRUCTURE AND TRANSPORT</strong></em></h3>
			<ul class="children-count-7">
			    <li class="nav-depth-1">
			        <a href="notice-use.php">
			            <span>알림마당</span>
			        </a>
			        <span></span>
			        <ul class="children-count-6">
			            <li class="nav-depth-2">
			                <a href="notice-use.php">
			                    <span>이용안내</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="notice-introduce.php">
			                    <span>국토교통통계소개</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="notice-notice.php">
			                    <span>공지사항</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="notice-statstory.php">
			                    <span>통계이야기</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href=notice-faq.php>
			                    <span>자주묻는질문</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="notice-colmn.php">
			                    <span>보도자료</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="notice-schedule.php">
			                    <span>통계공표일정</span>
			                </a>
			            </li>
			            
			            <li class="nav-depth-2">
			                <a href="notice-statdep.php">
			                    <span>통계담당부서안내</span>
			                </a>
			            </li>
			            
			            <li class="nav-depth-2">
			                <a href="notice-site.php">
			                    <span>관련사이트</span>
			                </a>
			            </li>
			            
			            <li class="nav-depth-2">
			                <a href="notice-viewer.php">
			                    <span>뷰어다운로드</span>
			                </a>
			            </li>
			        </ul>
			    </li>
			    <li class="nav-depth-1">
			        <a href="stat-field.php">
			            <span>통계마당</span>
			        </a>
			        <span></span>
			        <ul class="children-count-4">
			            <li class="nav-depth-2">
			                <a href="stat-field.php">
			                    <span>분야별통계</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="stat-department.php">
			                    <span>부서별통계</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="stat-name.php">
			                    <span>명칭별통계</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="stat-area.php">
			                    <span>지역별통계</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="stat-other.php">
			                    <span>타기관통계</span>
			                </a>
			            </li>
			        </ul>
			    </li>
			    <li class="nav-depth-1">
			        <a href="data-year.php">
			            <span>자료마당</span>
			        </a>
			        <span></span>
			        <ul class="children-count-2">
			            <li class="nav-depth-2">
			                <a href="data-year.php">
			                    <span>통계연보</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="data-period.php">
			                    <span>간행물</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="data-db.php">
			                    <span>통계메타DB</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="data-word.php">
			                    <span>통계용어</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="data-legal.php">
			                    <span>통계법령자료</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="data-stat.php">
			                    <span>통계서식정보</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="data-system.php">
			                    <span>통계기반정책관리제도</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="data-quality.php">
			                    <span>품질진단안내</span>
			                </a>
			            </li>
			        </ul>
			    </li>
			    <li class="nav-depth-1">
			        <a href="community-event.php">
			            <span>참여마당</span>
			        </a>
			        <span></span>
			        <ul class="children-count-4">
			            <li class="nav-depth-2">
			                <a href="http://eminwon.molit.go.kr/" target="_blank">
			                    <span>민원마당</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="community-event.php">
			                    <span>이벤트</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="community-report.php">
			                    <span>통계불일치신고센터</span>
			                </a>
			            </li>
			        </ul>
			    </li>
			    <li class="nav-depth-1">
			        <a href="#">
			            <span>서비스 정책</span>
			        </a>
			        <span></span>
			        <ul class="children-count-3">
			            <li class="nav-depth-2">
			                <a href="#">
			                    <span>통계누리연혁</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="#">
			                    <span>저작권보호정책</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="#">
			                    <span>개인정보처리방침</span>
			                </a>
			            </li>
			            <li class="nav-depth-2">
			                <a href="#">
			                    <span>국토교통인클린생활10선</span>
			                </a>
			            </li>
			        </ul>
			    </li>
			</ul>
		</div>
		<a href="#none" class="btn_sitemap_pc_close">사이트맵 닫기</a>
	</div>
	<div id="header">
		<div class="container">
			<div class="gnb">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="notice-use.php">이용안내</a>
					</li>
					<li>
						<a href="data-db.php">통계메타DB</a>
					</li>
					<li>
						<a href="javascript:alert('준비중입니다.');">English</a>
					</li>
					<!--
					<li class="gnb-display">
						화면조절
						<span class="controls">
							<a href="#" class="zoom-in"></a>
							<a href="#" class="rotation"></a>
							<a href="#" class="zoom-out"></a>
						</span>
					</li>
					-->
				</ul>
			</div>
			<div class="contents">
				<h1 class="site-logo"><a href="/index.php" title="메인으로 이동">국토교통 통계누리</a></h1>
				<div class="lnb">
					<ul>
						<li class="notice"><a href="notice-use.php">알림마당</a></li>
						<li class="stat"><a href="stat-field.php">통계마당</a></li>
						<li class="data"><a href="data-year.php">자료마당</a></li>
						<li class="community"><a href="community-report.php">참여마당</a></li>
					</ul>
				</div>
				<div class="search-box">
					<input type="hidden" name="searchOption" class="search-option" />
					<p class="select-click" data-value="">
						통합검색
					</p>
					<input type="text" />
					<input type="button" value="검색" />
					<div class="select-click-over">
						<ul>
							<li>
								<a href="#" data-value="">통합검색</a>
							</li>
							<li>
								<a href="#" data-value="1">통합검색-1</a>
							</li>
							<li>
								<a href="#" data-value="2">통합검색-2</a>
							</li>
							<li>
								<a href="#" data-value="3">통합검색-3 통합검색-3</a>
							</li>
							<li>
								<a href="#" data-value="4">통합검색-4</a>
							</li>
							<li>
								<a href="#" data-value="5">통합검색-5</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--
	<div class="depth2-t depth2-1" style="display:none;">
		<div class="depth2-w">
			<div id="container">
				<p class="txt1">
					다양한 <strong>정보</strong>와<br>
					정확한 <strong>통계분석</strong> 콘텐츠를<br>
					<strong>제공</strong>합니다.
					<span>국토교통통계누리의 다양한 <stronG>통계 서비스</stronG>를 만나보세요!</span>
				</p>
				<ul class="depth2-menu">
					<li>
						<dl>
							<a href="stat-field.php">
								<dt>분야별통계</dt>
								<dd>국토교통통계누리 분야별통계를 확인하세요!</dd>
							</a>
						</dl>
					</li>
					<li>
						<dl>
							<a href="stat-department.php">
								<dt>부서별통계</dt>
								<dd>국토교통통계누리 분야별통계를 확인하세요!</dd>
							</a>
						</dl>
					</li>
					<li>
						<dl>
							<a href="stat-name.php">
								<dt>명칭별통계</dt>
								<dd>국토교통통계누리 분야별통계를 확인하세요!</dd>
							</a>
						</dl>
					</li>
					<li>
						<dl>
							<a href="stat-area.php">
								<dt>지역별통계</dt>
								<dd>국토교통통계누리 분야별통계를 확인하세요!</dd>
							</a>
						</dl>
					</li>
					<li>
						<dl>
							<a href="#">
								<dt>영문통계</dt>
								<dd>국토교통통계누리 분야별통계를 확인하세요!</dd>
							</a>
						</dl>
					</li>
					<li>
						<dl>
							<a href="stat-other.php">
								<dt>타기관통계</dt>
								<dd>국토교통통계누리 분야별통계를 확인하세요!</dd>
							</a>
						</dl>
					</li>
				</ul>
				<p class="close-btn">
					<a href="#">close</a>
				</p>
			</div>
		</div>
	</div>
	-->
	<div class="depth2-t depth2-2" style="display:none;">
		<div class="depth2-w">
			<div id="container">
				<p class="txt1">
					다양한 <strong>정보</strong>와<br>
					정확한 <strong>통계분석</strong> 콘텐츠를<br>
					<strong>제공</strong>합니다.
					<span>국토교통통계누리의 다양한 <stronG>통계 서비스</stronG>를 만나보세요!</span>
				</p>
				<ul class="depth2-menu">
					<li>
						<dl>
							<a href="stat-field.php">
								<dt>분야별통계</dt>
								<dd>국토교통통계누리 분야별통계를 확인하세요!</dd>
							</a>
						</dl>
					</li>
					<li>
						<dl>
							<a href="stat-department.php">
								<dt>부서별통계</dt>
								<dd>국토교통통계누리 분야별통계를 확인하세요!</dd>
							</a>
						</dl>
					</li>
					<li>
						<dl>
							<a href="stat-name.php">
								<dt>명칭별통계</dt>
								<dd>국토교통통계누리 분야별통계를 확인하세요!</dd>
							</a>
						</dl>
					</li>
					<li>
						<dl>
							<a href="stat-area.php">
								<dt>지역별통계</dt>
								<dd>국토교통통계누리 분야별통계를 확인하세요!</dd>
							</a>
						</dl>
					</li>
					<li>
						<dl>
							<a href="#">
								<dt>영문통계</dt>
								<dd>국토교통통계누리 분야별통계를 확인하세요!</dd>
							</a>
						</dl>
					</li>
					<li>
						<dl>
							<a href="stat-other.php">
								<dt>타기관통계</dt>
								<dd>국토교통통계누리 분야별통계를 확인하세요!</dd>
							</a>
						</dl>
					</li>
				</ul>
				<p class="close-btn">
					<a href="#">close</a>
				</p>
			</div>
		</div>
	</div>
	<div class="body">
		<div id="container">
			<div class="side_w">
				<div class="side">
					<p class="site-map">
						<a href="#sitemap"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
					</p>
					<ul class="link">
						<li>
							<a href="#">KOSIS<br>국가통계</a>
						</li>
						<li>
							<a href="#">온나라<br>부동산</a>
						</li>
						<li>
							<a href="#">세움터<br>건축행정</a>
						</li>
						<li>
							<a href="#">국가교통<br>DB센터</a>
						</li>
					</ul>
					<p class="go-top">
						<a href="#">Top</a>
					</p>
				</div>
			</div>
			<div id="bg">
			</div>
<div class="snb">
	<ul>
		<li class="home">
			<a href="/index.php">홈</a>
		</li>
		<li>
																		<ul>
				<li><a href="notice-use.php">알림마당</a></li>
				<li><a href="stat-field.php">통계마당</a></li>
				<li><a href="data-year.php">자료마당</a></li>
				<li><a href="community-event.php">참여마당</a></li>
				<li><a href="service-history.php">서비스정책</a></li>
			</ul>
		</li>
											</ul>
</div>
<div class="container">
	<div id="content"><h2>통계 불일치 신고센터</h2>
<p class="additional">국토교통통계누리의 통계 오류정보에 대해 알려주세요!</p>
<dl class="paging">
	<dt class="skip">현재 페이지 경로</dt>
	<dd>
		<a href="/views/index.php">홈</a>
		<a href="community-report.php">참여마당</a>
		<span>통계 불일치 신고센터</span>
	</dd>
</dl>
<div class="board-view">
	<h3>국토면적 관련한 통계 불일치 신고</h3>
	<ul class="info">
		<li>
			<strong>유형</strong> 데이터 오류
			<span>통계명</span> 행정구역현황
			<span>통계표명</span> 행정구역현황(전국)
		</li>
	</ul>
	<div class="board-con">
		<p>국토의 전체면적 관련입니다.</p>
		<p>2015년 통계연보에 보면,</p>
		<p>&nbsp;</p>
		<p>5페이지 전국 행정구역상 면적은 100,326 제곱킬로미터로 기록,</p>
		<p>296, 302페이지 행정구역 및 소유구분별 국토이용 현황에서는 100,284 제곱킬로미터로 기록,</p>
		<p>310 페이지 토지 소유구분별 현황에서는 100,188 제곱킬로미터로 기록되어 있습니다.</p>
		<p>&nbsp;</p>
		<p>이와 관련하여</p>
		<p>1. 목적별 국토면적이 다른 이유.</p>
		<p>2. 국토면적은 얼마이며, 왜 그 값을 써야하는지, 다른 값은 틀린 값인지</p>
		<p>두가지가 궁금하며, 앞으로 더욱 정밀한 조사를 통하여 통일된 값으로 사용했으면 좋겠습니다.</p>
	</div>
	<div class="result">
		<h4>
			처리결과
			<strong class="state">
				처리상태
				<span class="success-btn">처리완료</span>
				<!-- <span class="receive-btn">접수완료</span> -->
			</strong>
		</h4>
		<div class="result-con">
			<p>안녕하십니까?</p>
			<p>먼저 국토교통통계누리를 방문해주시고 이용에 불편을드려죄송합니다.</p>
			<p>&nbsp;</p>
			<p>1. 문의하신 면적은 행정자치부의 「2015년 지방자치단체 행정구역및 인구현황」의 내용을 그대로 등재하였습니다.</p>
			<p>현재 지적통계와 총계안맞은 원인(미복구 면적, 소숫점, 행정구역 누락등)을 확인중에 있습니다.</p>
			<p>확인되는대로 메일로 발송해 드리겠습니다.</p>
			<p>2016년 통계연보는 이런일이 없도록 철저하게 조사해서 반영하겠습니다.</p>
		</div>
	</div>
	<p class="btm-btn">
		<a href="community-report.php" class="btn btn-default"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>리스트</a>
		<a href="community-report.php" class="btn btn-warning">삭제</a>
	</p>
</div>
	</div>
</div>
		</div>
		<div id="footer">
			<div class="ft_list-w">
				<div class="ft_list">
					<nav>
				    	<ul>
							<li>
								<a href="notice-introduce.php">국토교통통계소개</a>					
							</li>
							<li>
								<a href="service-history.php">통계누리연혁</a>					
							</li>
							<li>
								<a href="service-copyright.php">저작권보호정책</a>					
							</li>
							<li>
								<a href="service-info.php">개인정보처리방침</a>					
							</li>
							<li>
								<a href="service-ten.php">국토교통인클린생활10선</a>					
							</li>
							<li>
								<a href="notice-faq.php">자주묻는질문</a>					
							</li>
						</ul>
				    </nav>
				    <input type="hidden" name="searchOption" class="search-option" />
				    <p class="site" data-value="">
				    	<span><a>국외 통계사이트</a></span>
				    	<a href="#" class="go-page">이동</a>
				    </p>
				    <div class="site-over">
				    	<ul>
				    		<li>
				    			<a href="#" data-value="">국외 통계사이트</a>
				    		</li>
				    		<li>
				    			<a href="#" data-value="1">OECD 통계포털</a>
				    		</li>
				    		<li>
				    			<a href="#" data-value="2">OECD 통33333</a>
				    		</li>
				    		<li>
				    			<a href="#" data-value="3">OECD 통계555554</a>
				    		</li>
				    		<li>
				    			<a href="#" data-value="4">OECD 통444441</a>
				    		</li>
				    	</ul>
				    </div>
				</div>
				<div class="container">
					<address>
						30064 세종특별자치시 도움6로 11 국토교통부 ⁄ 민원(주)1599-0001 (야)044-201-4672 ⁄ FAX (주)044-860-8500 (야)044-201-5700<br>
						본 홈페이지는 게시된 이메일 주소가 자동 수집되는 것을 거부하며, 이를 위반 시 정보통신망법에 의해 처벌됨을 유념하여 주시기 바랍니다.
						<p class="copy">
							Copyright (c) 2016 Ministry of Land, Infrastructure and Transport. All Rights Reserved.
						</p>
					</address>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>