<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="국토교통부 통계누리 홈페이지 입니다." />
<title>국토교통부 통계누리</title>
<link rel="apple-touch-icon" sizes="57x57" href="/resources/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/resources/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/resources/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/resources/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/resources/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/resources/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/resources/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/resources/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/resources/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/resources/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/resources/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/resources/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/resources/favicon/favicon-16x16.png">
<link rel="shortcut icon" href="/resources/favicon/favicon.ico">
<link rel="manifest" href="/resources/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/resources/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/resources/front/css/style.min.css" />
<link rel="stylesheet" href="/resources/front-legacy/css/legacy-style.css" />
<!--[if lt IE 9]><script src="/resources/front/js/vendor/jquery-1.12.2.min.js"></script><![endif]-->
<!--[if gte IE 9]><!--><script src="/resources/front/js/vendor/jquery.min.js"></script><![endif]-->
<script src="/resources/front/js/script.min.js"></script>
</head>
<body class="page- layout-modal">
<h1>2014년도 통계연보</h1>
<div id="container">
	<div class="data-year-view">
		<div class="le">
			<strong>
				2014 국토교통통계연보
			</strong>
			<span>
				<a href="#" class="all">전체다운로드</a>
				<em>
					<a href="#" class="acrobat">다운1</a>
					<a href="#" class="excel">다운2</a>
				</em>	
			</span>
		</div>
		<div class="ri">
            <ul>
            	<li><span>Ⅰ.일반통계</span>
            		<span class="files"> <a href="#" class="hangul"> 한글파일 다운 </a> </span>
            		<ul>
            			<li><span> Ⅰ-1. 일반통계</span> <span class="files"> <a href="#" class="hangul"> 한글파일 다운 </a> </span>
            				<ul>
            					<li><span> 1. 행정구역현황</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span>
            						<ul>
            							<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            							<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            							<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            							<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            						</ul>
            					</li>
            				</ul>
            			</li>
            			<li><span> 1. 행정구역현황</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span>
            				<ul>
            					<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            					<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            					<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            					<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            				</ul>
            			</li>
            			<li><span> 1. 행정구역현황</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span>
            				<ul>
            					<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            					<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            					<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            					<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            				</ul>
            			</li>
            			<li><span> 1. 행정구역현황</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span>
            				<ul>
            					<ul>
            						<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            						<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            						<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            						<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            					</ul>
            				</ul>
            			</li>
            		</ul>
            	</li>
            	<li><span> Ⅱ.국토</span>
            		<ul>
            			<li><span> Ⅰ-1. 일반통계</span> <span class="files"> <a href="#" class="hangul"> 한글파일 다운 </a> </span>
            				<ul>
            					<li><span> 1. 행정구역현황</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span>
            						<ul>
            							<li><span> 1-1. 전국</span> <span class="files"> <a href="#" class="excel"> 엑셀파일 다운 </a> <a href="#" class="acrobat"> PDF파일 다운 </a> </span> </li>
            						</ul>
            					</li>
            				</ul>
            			</li>
            		</ul>
            	</li>
            </ul>
		</div>
	</div>
</div>
</body>
</html>