<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="description" content="국토교통부 통계누리 홈페이지 입니다." />
<title>국토교통부 통계누리</title>
<link rel="apple-touch-icon" sizes="57x57" href="/resources/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/resources/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/resources/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/resources/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/resources/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/resources/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/resources/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/resources/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/resources/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/resources/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/resources/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/resources/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/resources/favicon/favicon-16x16.png">
<link rel="shortcut icon" href="/resources/favicon/favicon.ico">
<link rel="manifest" href="/resources/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/resources/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/resources/front/css/style.min.css" />
<link rel="stylesheet" href="/resources/front-legacy/css/legacy-style.css" />
<script src="/resources/front/js/vendor/jquery-1.12.2.min.js"></script>
<script src="/resources/front/js/script.min.js"></script>
</head>
<body class="page- layout-modal">
<h1>가등기의 효력</h1>
<div id="container">
	<div class="data-word-view">
		<p>
			가등기는 순위 보전의 효력이 있다. 가등기에 의하여 뒤에 본등기가 이루어지면 본등기의 순위는 
			가등기 순위에 따르게 된다. 즉 가등기는 장래에 할 본등기의 순위를 보전하는 효력이 있다. 따라서 
			가등기 후, 본등기 사이에 제3자가 등기를 해도 본등기 내용과 저촉되는 것은 효력이 없거나 후순위가
			 된다. 예를 들면 A로부터 B에게 소유권 이전 가등기가 있고, 그 다음에 A로부터 C에게 소유권 이전 
			본등기가 있고, 그 뒤에 A에서 B로 넘어가는 본등기가 있으면 B는 C에 우선한다. 또 A를 위한 저당권 
			설정 가등기가 있고 이어서 B를 위한 저당권 설정 본등기가 있은 다음 A를 위한 저당권 설정 본등기가 
			있으면 B의 저당권 순위는 A보다 후순위가 된다.
		</p>
	</div>
</div>
</body>
</html>