<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="description" content="국토교통부 통계누리 홈페이지 입니다." />
<title>국토교통부 통계누리</title>
<link rel="apple-touch-icon" sizes="57x57" href="/resources/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/resources/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/resources/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/resources/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/resources/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/resources/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/resources/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/resources/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/resources/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/resources/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/resources/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/resources/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/resources/favicon/favicon-16x16.png">
<link rel="shortcut icon" href="/resources/favicon/favicon.ico">
<link rel="manifest" href="/resources/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/resources/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/resources/front/css/style.min.css" />
<link rel="stylesheet" href="/resources/front-legacy/css/legacy-style.css" />
<script src="/resources/front/js/vendor/jquery-1.12.2.min.js"></script>
<script src="/resources/front/js/script.min.js"></script>
</head>
<body class="page- layout-modal">
<h1>통계품질진단 종류</h1>
<div id="container">
	<div class="quality-detail">
		<h2>정기통계품질진단(통계법 제9조)</h2>
		<ol>
			<li>① 통계청장은 정부의 각종 정책수립.평가 또는 다른 통계의 작성 등에 널리 활용되는통계로서 대통령령으로 정하는 주요 통계의 작성 및 보급의 제반 과정에 대하여 10년의 범위 안에서 주기적으로 통계품질 진단 (이하 “정기통계품질진단”이라 한다)을 실시하여야 한다. </li>
			<li>② 통계청장은 제10조에 따른 수시통계품질진단을 실시 중이거나 대통 령령으로 정하는 기간(3년) 내에 실시하였던 통계와 제11조에 따른 자체통계품질진단을 한 통계 중 그 품질이 우수하다고 판단되는 통계에 대하여는 정기통계품질진단을 면제할 수 있다. </li>
		</ol>
		<h2>수시통계품질진단(통계법 제10조)</h2>
		<ol>
			<li>① 통계청장은 제11조에 따른 자체통계품질진단을 실시하지 아니하거나 품질이 저하되었다고 믿을만한 상당한 이유가 있는 통계에 대하여는 수시로 통계품질진단(이하 “수시통계품질진단”이라 한다)을 실시 할 수 있다. </li>
			<li>② 통계청장은 수시통계품질진단을 실시하는 때에는 해당 통계작성 기관에 미리 수시통계품질진단의 사유·시기 및 방법 등을 통보하여야 한다. </li>
		</ol>
		<h2>정기통계품질진단(통계법 제9조)</h2>
		<ol>
			<li>
				① 통계작성기관의 장은 소관 통계에 관하여 매년 통계품질진단(이하 “자체통계품질진단”이라 한다)을 실시하여야 한다.
				<br>다만, 작성주기가 1년을 초과하는 통계의 경우에는 그 통계를 작성하는 해 또는 그 다음 해에 실시할 수 있다. 
			</li>
			<li>② 통계작성기관의 장은 소관 통계에 대하여 정기통계품질진단 또는 수시통계품질진단을 받은 때에는 그 연도의 자체통계품질진단을 실시 하지 아니할 수 있다.</li>
		</ol>
	</div>
</div>
</body>
</html>