<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="국토교통부 통계누리 홈페이지 입니다." />
<title>국토교통부 통계누리</title>
<link rel="apple-touch-icon" sizes="57x57" href="/resources/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/resources/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/resources/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/resources/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/resources/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/resources/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/resources/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/resources/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/resources/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/resources/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/resources/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/resources/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/resources/favicon/favicon-16x16.png">
<link rel="shortcut icon" href="/resources/favicon/favicon.ico">
<link rel="manifest" href="/resources/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/resources/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/resources/front/css/style.min.css" />
<link rel="stylesheet" href="/resources/front-legacy/css/legacy-style.css" />
<!--[if lt IE 9]><script src="/resources/front/js/vendor/jquery-1.12.2.min.js"></script><![endif]-->
<!--[if gte IE 9]><!--><script src="/resources/front/js/vendor/jquery.min.js"></script><![endif]-->
<script src="/resources/front/js/script.min.js"></script>
</head>
<body class="page- layout-modal">
<h1>통계품질진단 자체통계품질진단결과평가제</h1>
<div id="container">
	<div class="quality-detail">
		<h2>자체통계품질진단결과평가제</h2>
		<ul>
			<li>
				<dl>
					<dt>의의</dt>
					<dd>
						◎ 「자체통계품질진단결과 평가제」: 국가승인통계 작성기관의 자율적인 품질진단 및 관리가 얼마나 내실 있게 수행되고 있는지 객관화된 지표를 통해 평가하는 제도 
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>도입 배경</dt>
					<dd>
						◎ 자체통계품질진단 제도 도입(‘08년) 이후 5년이 경과, 계량적 지표를 통한 평가의 내실화 필요성 대두<br> 
						◎ 현행 품질차원별 점수만으로는 품질향상 노력 등을 반영하는데 한계, 보조 지표를 통한 보완 필요 <br>
						◎ 국가승인통계 품질 수준에 대한 국회 등의 공개 요구
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>추진 근거</dt>
					<dd>
						◎ 통계법 제12조(통계의 작성·보급에 관한 사무에 대한 개선요구 등)<br>
						<img src="/resources/front/images/sub/quality-detail5-1.png" alt="" /> 
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>평가대상</dt>
					<dd>
						◎ 자체통계품질진단 대상에 해당되는 모든 국가승인통계
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>평가 방법</dt>
					<dd>
						◎ 자체진단 평가점수(100점), 노력도 평가점수(최대10점)를 합산하여 총점에 따라 5등급(우수․양호․보통․주의․미흡)으로 절대평가<br>
						<img src="/resources/front/images/sub/quality-detail5-2.png" alt="" />
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>평가결과(등급) 공개여부</dt>
					<dd>
						◎ ‘13년도에는 자체진단 대상통계 전체로 평가제 적용을 확대하되 평가결과는 공개하지 않고, ‘14년도부터 외부에 공개
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>평가결과 활용방안</dt>
					<dd>
						◎ 우수통계의 경우 차년도 정기진단 면제(통계법 제9조 활용), 미흡통계의 경우 품질개선 컨설팅 제공
					</dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
</body>
</html>