<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet/less" href="../../../front/less/phone.less" />
<link rel="stylesheet/less" href="../../../front/less/tablet.less" media="screen and (min-width: 640px)" />
<link rel="stylesheet/less" href="../../../front/less/desktop.less" media="screen and (min-width: 1024px)" />
<link rel="stylesheet/less" href="../../../front/less/largedesktop.less" media="screen and (min-width: 1280px)" />
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.6.1/less.min.js"></script>
<style>
div{
	background-color: red;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}
</style>
</head>
<body>
<div class="visible-phone">visible-phone</div>
<div class="visible-tablet">visible-tablet</div>
<div class="visible-desktop">visible-desktop</div>
<div class="visible-largedesktop">visible-largedesktop</div>
<div class="hidden-phone">hidden-phone</div>
<div class="hidden-tablet">hidden-tablet</div>
<div class="hidden-desktop">hidden-desktop</div>
<div class="hidden-largedesktop">hidden-largedesktop</div>
<br>
<br>
<br>
<br>
<br>
<div class="hidden-phone">hidden-phone</div>
<div class="hidden-phone-inline">hidden-phone-inline</div>
<div class="hidden-phone-inline-block">hidden-phone-inline-block</div>
<div class="hidden-tablet">hidden-tablet</div>
<div class="hidden-tablet-inline">hidden-tablet-inline</div>
<div class="hidden-tablet-inline-block">hidden-tablet-inline-block</div>
</body>
</html>